
#highScoreContainer{
    display: block;
}

#questionNumber{
    display: block;
}

#timerDisplay{
    display: none;
}

#questionText{
    display: none;
}

#startButton{
    display: block;
}

#choicesContainer {
    display: none;
}

#currentScore{
    display: none;
}
