html{
    background-color: #A900AB;
}

#highScoreContainer{
    display: none;
    background-color: #F65DF8;
}

#questionNumber{
    display: block;
}

#timerDisplay{
    display: none;
}

#questionText{
    display: none;
}

#startButton{
    display: block;
    text-align: center;
}

#choicesContainer {
    display: none;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    background-color: #F65DF8 ;
}

#currentScore{
    display: none;
}

