

#highScoreContainer{
    display: block;
}

#questionNumber{
    display: block;
}

#timerDisplay{
    display: none;
}

#questionText{
    display: none;
}

#startButton{
    display: block;
}

#choicesContainer {
    display: none;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
}

#currentScore{
    display: none;
}

